body {
    width: 600px;
}

.text-center {
    text-align: center;
}

.accordion {
    margin-bottom: 5px;
    background-color: #f8e5bc;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: all .3s ease-in-out;
}

.active.accordion:hover {
    background-color: #ccc;
}

.container {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s ease-in-out;
}

.container__line {
    position: relative;
    font-size: medium;
}

.active.container__line {
    color: #139b48;
    cursor: pointer;
    text-decoration: underline;
}

.accordion:after {
    content: '\25BC';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.active.accordion:after {
    transform: rotateX(180deg);
}

.clusters__info {
    display: flex;
    flex-direction: column;
    font-size: medium;
    padding: 5px;
}

.tooltip {
    visibility: hidden;
    position: fixed;
    transform: translateY(-75%);
    display: flex;
    flex-direction: column;
    background-color: #008080;
    color: white;
    border-radius: 6px;
    padding: 5px;
}